Web/E_Commerce/Source/App_WebReferences/vatlieu/CungCapVatLieuWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Doc_danh_sach_vat_lieu">
        <s:complexType />
      </s:element>
      <s:element name="Doc_danh_sach_vat_lieuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Doc_danh_sach_vat_lieuResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Doc_danh_sach_vat_lieuSoapIn">
    <wsdl:part name="parameters" element="tns:Doc_danh_sach_vat_lieu" />
  </wsdl:message>
  <wsdl:message name="Doc_danh_sach_vat_lieuSoapOut">
    <wsdl:part name="parameters" element="tns:Doc_danh_sach_vat_lieuResponse" />
  </wsdl:message>
  <wsdl:portType name="CungCapVatLieuWSSoap">
    <wsdl:operation name="Doc_danh_sach_vat_lieu">
      <wsdl:input message="tns:Doc_danh_sach_vat_lieuSoapIn" />
      <wsdl:output message="tns:Doc_danh_sach_vat_lieuSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CungCapVatLieuWSSoap" type="tns:CungCapVatLieuWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Doc_danh_sach_vat_lieu">
      <soap:operation soapAction="http://tempuri.org/Doc_danh_sach_vat_lieu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CungCapVatLieuWSSoap12" type="tns:CungCapVatLieuWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Doc_danh_sach_vat_lieu">
      <soap12:operation soapAction="http://tempuri.org/Doc_danh_sach_vat_lieu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CungCapVatLieuWS">
    <wsdl:port name="CungCapVatLieuWSSoap" binding="tns:CungCapVatLieuWSSoap">
      <soap:address location="http://aspspider.info/sontien1/Webservice/CungCapVatLieuWS.asmx" />
    </wsdl:port>
    <wsdl:port name="CungCapVatLieuWSSoap12" binding="tns:CungCapVatLieuWSSoap12">
      <soap12:address location="http://aspspider.info/sontien1/Webservice/CungCapVatLieuWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>